hr{
  border: 1;
  margin: 0px 0px 0px 0px;
  width: 100%;
  text-align: center;
}
   
.heading{
  font-size: 12px;
}

.headingstyle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
} 

.articles{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.image{
  padding: 2px 4px 2px 2px;
}

body .modal {
  width: 90%; /* desired relative width */
  left: 5%; /* (100%-width)/2 */
  margin: auto auto auto auto; /* place center */
  text-align: center;
  background-color: #e8f7f6;
}

body .modal.fade.in {
  top: auto; /* fade in to correct spot */
}

input{
  width: 200px;
}

.topdivarticle{
  background-color:#e8f7f6;
  width: 475px;
  padding-left: 2px;
}

.insidearticle{
  background-color:#e8f7f6;
  float: left;
  width: 450px;
  padding: 0 0 0 0;
}

.closearticle{
  background-color:#e8f7f6;
  float: right;
  font-weight: bold;
  text-align: right;
  width: 20px;
  padding-right: 5px;
}